EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://ws.estoque.caelum.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="CadastrarItem" type="tns:CadastrarItem"/>

      <xs:element name="CadastrarItemResponse" type="tns:CadastrarItemResponse"/>

      <xs:element name="buscarItem" type="tns:buscarItem"/>

      <xs:element name="buscarItemResponse" type="tns:buscarItemResponse"/>

      <xs:element name="filtro" type="tns:filtro"/>

      <xs:element name="filtros" type="tns:filtros"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="listaItens" type="tns:listaItens"/>

      <xs:element name="todosItens" type="tns:todosItens"/>

      <xs:element name="todosItensResponse" type="tns:todosItensResponse"/>

      <xs:complexType name="CadastrarItem">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="codigo" type="xs:string" minOccurs="0"/>
          <xs:element name="nome" type="xs:string" minOccurs="0"/>
          <xs:element name="quantidade" type="xs:int"/>
          <xs:element name="tipo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CadastrarItemResponse">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="todosItens">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="todosItensResponse">
        <xs:sequence>
          <xs:element name="itens" type="tns:listaItens" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="listaItens">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="buscarItem">
        <xs:sequence>
          <xs:element name="filtros" type="tns:filtros" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtros">
        <xs:sequence>
          <xs:element name="filtro" type="tns:filtro" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtro">
        <xs:sequence>
          <xs:element name="nome" type="xs:string" minOccurs="0"/>
          <xs:element name="tipo" type="tns:tipoItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="buscarItemResponse">
        <xs:sequence>
          <xs:element name="item" type="tns:listaItens" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="tipoItem">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Livro"/>
          <xs:enumeration value="Celular"/>
          <xs:enumeration value="Tablet"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="todosItens">
    <part name="parameters" element="tns:todosItens"/>
  </message>
  <message name="todosItensResponse">
    <part name="parameters" element="tns:todosItensResponse"/>
  </message>
  <message name="buscarItem">
    <part name="parameters" element="tns:buscarItem"/>
  </message>
  <message name="buscarItemResponse">
    <part name="parameters" element="tns:buscarItemResponse"/>
  </message>
  <message name="CadastrarItem">
    <part name="parameters" element="tns:CadastrarItem"/>
  </message>
  <message name="CadastrarItemResponse">
    <part name="parameters" element="tns:CadastrarItemResponse"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="todosItens">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosItensRequest" message="tns:todosItens"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosItensResponse" message="tns:todosItensResponse"/>
    </operation>
    <operation name="buscarItem">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/buscarItemRequest" message="tns:buscarItem"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/buscarItemResponse" message="tns:buscarItemResponse"/>
    </operation>
    <operation name="CadastrarItem">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItemRequest" message="tns:CadastrarItem"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItemResponse" message="tns:CadastrarItemResponse"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="todosItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CadastrarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

